<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../static/js/disp.js"></script>
    <link rel="stylesheet" href="../static/css/style_disp.css">
    <title>Document</title>
</head>

<body>
    <div class="container mt-4">
        <span>
            <h4>Top five rows of file</h4>
            <h3 style="color: green; text-decoration: underline">{{table_name}}</h3>
        </span>
        <div>
            {{ table|safe }}
        </div>
    </div>

    <div class="container mt-4">
        <span>
            <h4>Discription of Data</h4>
        </span>
        <div>
            {{ data|safe }}
        </div>
    </div>
    <button type="button" class="btn btn-success btn-lg btn-block" id="clean">Go to Data Cleaning <i
            class="arrow right"></i></button>
    <button type="button" class="btn btn-secondary btn-lg btn-block" id="back"><i class="arrow left"></i> Change the
        data
        source</button>
</body>

</html>